
/*-- ROOT ----------------------*/
.cm-cursorLayer {animation: none !important;}
.cm-scroller, .cm-sizer {
  padding-left: 0px !important;
  padding-top: 0px !important;
}
.inline-title {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  background-color: black;
  width: 90vw;
}
.metadata-container {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  width: 90vw;
  background-color: black;
}
.view-content {
  margin-bottom: 1vh !important;
  /*max-width: max(90%, 900px);*/
  background-color: #000 !important;
}
.view-header{
  display: none !important;
}
.view-header:hover {
  height: 30px;
  display: block;;
}
.cm-contentContainer {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 1.2 !important;
}
* {
  font-weight: 500;
}
body {
  --file-line-width: 80vw;
  --text-selection: #009 !important;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
pre {
  color: #AAA;
  background-color: #111 !important;
  padding-right: 4em !important;
  padding-left: 4em !important;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 800px;
  overflow: wrap;
}
.cm-strong, strong {
  font-weight: 700 !important;
}
u {
  background-color: #000055;
  padding: 2px;
  font-size: 94% !important;
  text-decoration: none;
  font-weight: 700;
  color: #AAA;
  z-index: 0 !important;
}
.markdown-rendered :is(li, ol, ul, h1, h2, h3, h4, h5, h6) {
    margin-block-start: 0em;
    margin-block-end:   0em; /* default is 1em */
    margin:             0px;
}
.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) {
    /*z-index: 1 !important;*/
    line-height: 1em !important;
    margin:      2px 0px 2px 0px;
    padding:     3px 0px 4px 0px;
}
/*-- LINKS ---------------------*/
.cm-hmd-internal-link, .internal-link {
  text-decoration: none !important;
  border: 1px solid #999;
  --link-decoration: none;
  color: #07F !important;
  background-color: #000 !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-weight: 650;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 2px;
}
.cm-hmd-internal-link:hover, .internal-link:hover {
  color: #FFF !important;
  padding: 2px;
}
/*-- GUTTER --------------------*/
.cm-gutters {
  margin-right: 8px !important;
}
.cm-gutters  > * {
  background-color: #000;
  color: #777;
  font-size: 1.10em;
}
.cm-active {
  border-bottom: 1px solid white;
  font-weight: 700;
}
/*## TODOLIST ##################*/
.todolist .HyperMD-list-line > *, .todolist .task-list-item{
  margin-left: 3em;
}

