
/*-- ROOT ----------------------*/

.cm-cursorLayer {animation: none !important;}
.cm-scroller, .cm-sizer {
  padding-left: 0px !important;
  padding-top: 0px !important;
}
.inline-title {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  background-color: black;
  width: 90vw;
}
.metadata-container {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  width: 90vw;
  background-color: black;
}
.view-content {
  margin-bottom: 1vh !important;
  /*max-width: max(90%, 900px);*/
  background-color: #000 !important;
}
.view-header{
  display: none !important;
}
.view-header:hover {
  height: 30px;
  display: block;;
}
.workspace-tab-header-container {
  height: 40px;
}
.workspace-tab-header-container * {
  border-radius: 0px !important;
}
.cm-contentContainer {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 1.2 !important;
}
body {
  --file-line-width: 80vw;
  --text-selection: #009 !important;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.cm-html-embed.cm-embed-block {
  padding: 0px;
  padding-left: 4em !important;
}
pre {
  color: #AAA;
  background-color: #111 !important;
  padding-right: 4em !important;
  padding-left: 4em !important;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 800px;
  overflow: wrap;
}
/*-- GUI -----------------------*/
.nav-files-container, .workspace-ribbon,      .workspace-tab-header-container,
.nav-header,          .sidebar-toggle-button, .mod-close {
  background-color: black !important;
}
.mod-minimize, .mod-maximize {
  display: none !important;
}
.mod-left-split {
  width: max(10vw,100px) !important;
}
/*-- LEFT-PANEL ----------------*/
.nav-files-container * {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  border-radius: 0px;
  border: none !important;
}
.nav-file-title, .nav-folder-title {
  margin: 0px;
  font-size: 17px;
}
/*(1) Folder*/
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-title {
  color: #0B0;
  background-color: #000;
}
/*(2) Folder*/
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-folder>.nav-folder-title {
  color: #AA0;
  background-color: #000020;
}
/*(1) Files*/
.nav-folder.mod-root>.nav-folder-children>.nav-folder>.nav-folder-children>.nav-file>.nav-file-title {
  color: #999;
  text-decoration: underline;
  background-color: #000;
}
/*(root) Files*/
.mod-root > .tree-item-children > .tree-item > .nav-file-title {
  color: #0D0;
  background-color: #000;
  border: 2px solid #070 !important;
  border-radius: 0px;
}
.is-selected > * {
  background-color: blue;
  color: white;
}
/*-- ELEMENTS ------------------*/
img, .pdf-embed {
  max-height: 10vh;
  max-width: 20vw;
  border: 10px solid #000 !important;
}
img:hover, .pdf-embed:hover {
  display: absolute;
  top: 0;
  left: 0;
  max-height: 70vh !important;
}
u {
  background-color: #000055;
  padding: 2px;
  font-size: 94% !important;
  text-decoration: none;
  font-weight: 570;
  color: #888;
}
.markdown-rendered :is(li, ol, ul, h1, h2, h3, h4, h5, h6) {
    margin-block-start: 0em;
    margin-block-end:   0em; /* default is 1em */
    margin:             0px;
}
.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) {
    line-height: 1em !important;
    margin:      2px 0px 2px 0px;
    padding:     3px 0px 4px 0px;
}
.HyperMD-list-line {
  padding: 0px;
  margin: 0px;
}
/*-- LATEX --------------------*/
.math {
  border: none;
  padding-top: 0.1em !important;
  padding-bottom: 0.3em !important;
  padding-left: 0.03em !important;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  color: #AA5500;
  margin: 0px !important;
}
.math {
  line-height: 0.9 !important;
  margin: 0px !important;
}
mjx-container > *, mjx-container {
  font-weight: 550 !important;
}

/*.mjx-c28 {*/
 /*margin-left: 3px;*/
/*}*/
/**/
/*.mjx-c29 {*/
 /*margin-right: 3px;*/
/*}*/
/*.mjx-c2B  {*/
  /*margin-bottom: 1px !important;*/
/*}*/
/*.mjx-c2212, .mjx-cD7 {*/
  /*margin-bottom: 1px !important;*/
/*}*/
mjx-frac {
  font-size: 120%;
}
mjx-mroot  mjx-root  mjx-mstyle .mjx-n {
  font-size: 125% !important;
}
mjx-line {
  padding-top: 1px;
}
/*-- TABLE --------------------*/
table .cm-gutters {
  display: none !important;
}
table {
  margin-left: 3em;
  margin-top: -10px;
}
table, th, td {
  border: 3px solid #222 !important;
}
th {
  background-color: #222 !important;
  color: #0D0 !important;
  text-align: center !important;
  vertical-align: middle;
}
tbody {
  background-color: #000 !important;
  color: #AAA;
}
table td, table th {
  max-width: 40em !important;
  height: 2em !important;
  vertical-align: middle !important;
}
.cm-formatting-header {
  display: none
}
table .cm-hmd-internal-link, table .internal-link {
  color: #000;
  background-color: #777777;
  padding-left: 0.8em !important;
  padding-right: 0.8em !Important;
  text-decoration: none;
  text-align: center;
  border: 2px solid #04A;
  padding: 4px;
  max-width: 18em;
  margin: 0 auto;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-right: 0.50em !important;
  display: block;
}
/*-- LINKS ---------------------*/
.cm-hmd-internal-link, .internal-link {
  text-decoration: none !important;
  border: 1px solid #999;
  --link-decoration: none;
  color: #07F !important;
  background-color: #000 !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-weight: 630;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 2px;
}
.cm-hmd-internal-link:hover, .internal-link:hover {
  color: #FFF !important;
  padding: 2px;
}
/*-- HEADERS -------------------*/
.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, h1, h2, h3, h4, h5 {
  padding: 2px !important;
  padding-left: 1% !important;
  margin: 2px !important;
  background-color: #111;
  border-left: 3px solid green;
}
.HyperMD-header-1, .cm-header-1, .markdown-rendered :is(h1){
  color: #F00;
}
.cm-header-2, .markdown-rendered :is(h2){
  color: #000;
}
.cm-header-3, .markdown-rendered :is(h3){
  color: #AAA;
}
.cm-header-4, .markdown-rendered :is(h4){
  color: #AAA;
}
.cm-header-5, .markdown-rendered :is(h5){
  color: #DDD;
}
/*-- LIST ----------------------*/
.cm-formatting, .cm-indent, .markdown-rendered :is(li) {
  margin-left: 20px;
}
.HyperMD-list-line-1, li {
  color: #0B4;
  font-weight: 300 !important;
}
.HyperMD-list-line-2, li li {
  color: #999;
}
.HyperMD-list-line-3, li li li {
  color: #999;
}
.HyperMD-list-line-4, li li li li {
  color: #999;
}
/*-- GUTTER --------------------*/
.cm-gutters {
  margin-right: 8px !important;
}
.cm-gutters  > * {
  background-color: #000;
  color: #777;
  font-size: 1.10em;
}
.cm-active {
  border-bottom: 1px solid white;
  font-weight: bold;
}
/*-- FUNCTION-PLOT -------------*/

/*## VTABLE ####################*/
.vtable h6, .vtable .HyperMD-header-6, .vtable .cm-header-6, .vtable .markdown-rendered :is(h6) {
  font-weight: normal;
}
.vtable th {
    text-align: left !important;
}
.vtable th:nth-child(2) {
    background-color: #013 !important;
    color: #999 !important;
}
.vtable td:nth-child(1), .vtable td:nth-child(1) {
    background-color: black !important;
    color: #0F0 !important;
}
.vtable .table-wrapper {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.vtable table {
  margin-left: 1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.vtable .markdown-rendered :is(table) {
  margin-left: 3em;
  margin-top: -0.7em !important;
  margin-bottom: -0.7em !important;
}
/*## MAINCLASS #################*/
/*.mainclass table, .mainclass .table-wrapper {*/
  /*  margin-left: max(5px, 0.1vw);*/
/*}*/
.mainclass table * {
  font-size: 1em;
  font-weight: normal;
}
.mainclass td {
  border: 0.10em solid #058 !important;
}
.mainclass thead {
  padding-bottom: 90px !important;
  margin-bottom: 90px !important;
  margin-top: 2em !important;
}
.mainclass th {
  border: 3px solid #07B !important;
}
.mainclass .cm-hmd-internal-link td, .mainclass td .internal-link {
  color: #09F !important;
}
.mainclass .cm-hmd-internal-link th, .mainclass th .internal-link {
  color: #0F0 !important;
  border: 1px solid #030;
}
/*## TODOLIST ##################*/
.todolist .HyperMD-list-line > *, .todolist .task-list-item{
  margin-left: 3em;
}
/*## FULLTABLE #################*/
.fulltable table th {
  font-size: 0.95em !important;
  padding: 10px;
}
